<header>
    <section id="top" class="h-100 p-5 text-white bg-dark rounded-3">
        <div class="container">
            <h1 class="display-1">PAW</h1>
            <p class="display-4">Dream holidays</p>
            <p class="lead">Plan your dream trip with us</p>
            <p><strong>Find us on:</strong></p>
            <a href="#" class="btn btn-lg btn-primary">Facebook</a>
        </div>
    </section>
</header>



<div class="container">
    <section id="section-description">
        <h2 class="display-4">Who we are?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit rerum quas maxime quos, inventore voluptatum
            nam possimus eos officia adipisci aliquid iure dolores ratione quia? Temporibus fugiat quaerat sint earum!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea beatae earum perferendis expedita iusto ipsa
            excepturi eveniet, nobis, reiciendis unde natus dolores voluptatibus animi quibusdam fugit sequi assumenda
            ducimus illum.
            Accusantium dolore, vero ullam distinctio illo magnam dolores doloremque tempora quibusdam ad. Esse, quasi!
            Tenetur quas, beatae dicta facilis cum nesciunt, ipsa aut nostrum deserunt magni at expedita sed sequi?</p>
    </section>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-8 col-lg-4">
        <div class="card text-center">
            <div class="card-header">
                <h2>Trip Company</h2>
            </div>
            <div class="card-body">
                <p class="card-text">123 Czarnowiejska</p>
                <p class="card-text">Krakow</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Phone: 123-456-789</li>
                <li class="list-group-item">Email: agh&#64;agh.pl</li>
            </ul>
            <div class="card-footer">
                <a href="#" class="btn btn-success btn-lg">Contact Us</a>
            </div>
        </div>
    </div>
</div>

<div class="p-3 w-75 m-3 mx-auto" id="map" style="height: 400px;"></div>